.container {
  width: 25%;
  margin: auto;
  padding-top: 2rem;
  .calculator {
    padding: 0;
    border: 2px solid var(--main-primary);
    &__display {
      padding: 2rem 1rem 2rem 0.5rem;
      button{
        & .mat-icon {
          color: var(--main-primary);
        }
        &:disabled .mat-icon {
          color: var(--main-disabled-history);
        }
      }
      .display__text {
        color: var(--main-primary);
        font-size: 1.5rem;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
      }
    }
    &__tab {
      flex: 50%;
      &s {
        border-top: 2px solid var(--main-primary);
      }
    }
    &__button {
      width: 100%;
      height: 100%;
      border-radius: 0;
      border: none;
      background-color: white;
      color: var(--main-primary);
      &:hover,
      &:active {
        color: var(--main-primary);
        background-color: var(--main-accent);
      }
      &-special:hover,
      &-special:active {
        color: white;
        background-color: var(--main-primary);
      }
      &:disabled {
        background-color: var(--main-disabled-button);
      }
    }
  }
}

// Mandatory for 'history' icon on display to be on left side
::ng-deep .mat-mdc-list-item .mdc-list-item__primary-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-accent);
}

// Colors deep overrides
::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab__text-label,
::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  color: var(--main-primary);
}

::ng-deep .mat-mdc-tab .mat-ripple-element {
  background-color: var(--main-primary);
}

::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled)
  .mdc-tab-indicator__content--underline {
  border-color: var(--main-primary);
}
