html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
}

.color-primary * {
  color: var(--main-primary);
}

.color-accent * {
  color: var(--main-accent);
}
